@{
    ViewBag.Title = "About us";
}


<div class="container-fluid" style="margin:0px; border-top:1px dashed #aaf; border-bottom:1px dashed #ba181e; color: #444; line-height: 180%; background-color:#fcfcff;">


    <div class="text text-center" style=" padding:10px; padding-right:30px;">

        <div class="text-center" style="text-align:center;">
            <h2 style="color:#ed1e24; padding-bottom: 10px; padding-top: 10px;">
                Our History
            </h2>
        </div>
    </div>
    <div class="text text-justify row" style="background-color:#fafafc;">
        <div style="line-height:200%; font-size: 18px; padding:15px; border-top:1px dashed #aaf; border-bottom:1px dashed #aaf;">

            <img style="background-color:#fff; width:30%; border:1px solid #111; padding: 10px; border-radius:10px; margin:10px; float:right;" src="~/Content/images/داروخانه-دکتر-عباسی-1.jpg" alt="داروخانه دکتر عباسی">

            @*<span style="margin:15px; padding:10px; padding-top:35px; margin-top:35px;">
                داروخانه دکتــر عباســی از سال ۱۳۹۳ در زمینه عرضه داروهای تخصصی و کمیاب و همچنین فروش لوازم آرایشی، بهداشتی، انواع مکمل‌های رژیمی و تقویتی، غذائی، گیاهی و لاغری مورد تأیید وزارت بهداشت و همچنین ارائه محصولات مراقبت از پوست، مو، ناخن و زیبائی یکی از معدود داروخانه‌های پیشرو در ارائه خدمات نوین به‌ منظور ارتقا سطح بهداشت و سلامت جامعه می‌باشد. ساخت داروهای ترکیبی پوست و مو با مواد اولیه با کیفیت بالا و مورد تأیید وزارت بهداشت یکی از زمینه‌های عرضه خدمات داروخانه می‌باشد. دارا بودن نمایندگی محصولات معتبر آرایشی و بهداشتی  با مناسب‌ترین قیمت‌ها از ویژگی‌های این داروخانه می‌باشد مشاوره رایگان داروئی بصورت تلفنی توسط دکتر داروساز و مشاوره رایگان پوست و مو توسط پرسنل مجرب از دیگر امکانات داروخانه می‌باشد.
            </span>*@

        <span style="margin:15px; padding:10px; padding-top:35px; margin-top:35px;">
            sit voluptatem accusantium dolore mque laudantium, totam rem aperiam, eaque ipsa quae ab illo.
        </span>

        </div>
    </div>

    <div class="container-fluid text-center" dir="ltr" style="background-color:#fff;">
        <br />
        <div class="container team row col-lg-12" style="padding:15px;">


            @*<div class="teammember col-lg-2">
                <div class="teamphoto member1"></div>
                <div class="teamtextblock">
                    <div class="teamnames">
                        <span class="teamname">Nosrat Abbasi</span>
                    </div>
                    <div class="teamjob">Pharmacy Assistant</div>
                    <div class="teamdesc">
                        Nosrat Abbasi (Technician and Assistant Pharmacist) holds a Certificate in Pharmacy Assistance and a Bachelor's Degree in Mathematics from Islamic Azad University, Khorasgan Branch
                    </div><div class="tmm_scblock"></div>
                </div>
            </div>*@

            <div class="teammember col-lg-3">
                <div class="teamphoto member2"></div>
                <div class="teamtextblock">
                    <div class="teamnames">
                        <span class="teamname">Dr. Yahya Abbasi</span>
                    </div>
                    <div class="teamjob">Pharmacist</div>
                    <div class="teamdesc">Dr. Yahya Abbasi (Pharmacist) Licensed Technical Manager of Dr. Abbasi Pharmacy No. 115/3931/1/64874 and Graduated from the Faculty of Pharmacy, Kerman University of Medical Sciences</div>
                    <div class="tmm_scblock"></div>
                </div>
            </div>

            <div class="teammember col-lg-3">
                <a href="http://www.kimyapolymer.ir" title="آقای مسـعود عباسـی">
                    <div class="teamphoto member3"></div>
                </a>
                <div class="teamtextblock">
                    <div class="teamnames">
                        <span class="teamname">Massoud Abbasi</span>
                    </div>
                    <div class="teamjob">Informatics</div>
                    <div class="teamdesc">
                        <p>Masoud Abbasi Graduated with a master's degree in chemical engineering from Shiraz University</p>
                        <h3>
                            <span style="color: #fcfcff;" class="text-uppercase">Masoud Abbasi</span>
                        </h3>
                    </div>
                    <div class="tmm_scblock">
                        <a target="_blank" class="tmm_sociallink" href="http://www.kimyapolymer.ir" title="Masoud Abbasi">
                            <img alt="Masoud Abbasi" src="http://www.DrYahya.com/wp-content/plugins/team-members/inc/img/links/instagram.png">
                        </a>
                        <a target="_blank" class="tmm_sociallink" href="http://www.kimyapolymer.ir" title="Masoud Abbasi">
                            <img alt="Masoud Abbasi" src="http://www.DrYahya.com/wp-content/plugins/team-members/inc/img/links/twitter.png">
                        </a>
                        <a target="_blank" class="tmm_sociallink" href="http://www.kimyapolymer.ir" title="Masoud Abbasi">
                            <img alt="Masoud Abbasi" src="http://www.DrYahya.com/wp-content/plugins/team-members/inc/img/links/website.png">
                        </a>
                    </div>
                </div>
            </div>


            <div class="teammember col-lg-3">
                <div class="teamphoto member4"></div>
                <div class="teamtextblock">
                    <div class="teamnames">
                        <span class="teamname">Amir Taslimi</span>
                    </div>
                    <div class="teamdesc">
                        Amir Taslimi (Technician and Assistant Pharmacist) Certified Pharmacy Assistant and Graduated in Mathematics
                    </div>
                    <div class="tmm_scblock"></div>
                </div>
            </div>


        </div>
        <br />
    </div>

    
</div>