@{
    ViewBag.Title = "Contact Us";
}

<h2 class="text-left" style="padding:10px; padding-right:60px; color:#333; border-top:1px dashed #aaf; border-bottom:1px dashed #aaf; background-color:#fafafc;">@ViewBag.Title</h2>

<div class="row col-12" style="border-bottom:1px dashed #ba181e; width:100%; padding:10px;">
    <div class="col-lg-4">

        <div class="text-left" style="padding:15px; color:#444;">
           
            <div class="text-left" style="direction:ltr;">
                <b dir="ltr" style="padding-left:10px; color:#666;">Address:</b>
                
            </div>
            <br />
            <div class="text-justify">

                <b dir="ltr" style="padding-left:10px; color:#666;">Phone:</b>

                
                <a href="tel:+4917655329422" dir="ltr" style="direction:ltr;" class="text-left">+4917655329422</a>

            </div> 
            <br />
            <div class="text-justify" style="direction:ltr;">

                <b dir="ltr" style="padding-left:10px; color:#666;">E-mail:</b>

            <a href="mailto:bahman.soltani@gmail.com" dir="ltr" style="text-align:left; direction:ltr;">bahman.soltani@gmail.com</a>
            </div>
        </div>
    </div>



</div>
