@{
    ViewBag.Title = "Home Page";
}



<div class="row" style="margin:0px; padding:1%; background:linear-gradient(#262266, #ffffff, #ed1e24)">

</div>

<div class="site-sectioncontainer text-center align-content-center" style="background-color:#ed1e24; padding:1%; padding-right:2%; padding-left:2%; margin:0px; padding-bottom:2%;" dir="ltr">

    <div id="myslide" class="carousel slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators" style="margin-top:-4%; margin-bottom:1px;">
            <li data-target="#myslide" data-slide-to="0" class="active"></li>
            @*<li data-target="#myslide" data-slide-to="1"></li>
            <li data-target="#myslide" data-slide-to="2"></li>
            <li data-target="#myslide" data-slide-to="3"></li>*@
            <li data-target="#myslide" data-slide-to="4"></li>
            <li data-target="#myslide" data-slide-to="5"></li>
            <li data-target="#myslide" data-slide-to="6"></li>
            <li data-target="#myslide" data-slide-to="7"></li>
            <li data-target="#myslide" data-slide-to="8"></li>
        </ol>
        <div class="carousel-inner embed-responsive embed-responsive-21by9" style="padding-bottom:0px; margin:0px;">
            <div class="carousel-item embed-responsive-item active imgb" style="background-image: url('/images/DrYahya.com_.png'); padding:2%;">
                <img src="/images/55-512.png" class="float-left" alt="DrYahya.com" data-animation="animated bounceInRight"
                     style="width: 18%; margin-top:7%;">
                <img src="/images/online_pharmacy_trend-512.png" data-animation="animated bounceInLeft" alt="DrYahya.com" style="width: 25%;" class="float-right">
                <h1 data-animation="animated animated zoomInUp" style="color:#fff; margin-top:4%; font-size:450%;" class="font-weight-bold maintext" dir="ltr">Welcome to Bahman Soltani's online pharmacy!</h1>
            </div>

            @*<div class="carousel-item embed-responsive-item imgb" style="background-image:url('/images/slide.jpg'); background-repeat:no-repeat;">
                <img src="/images/mojahaz.png" class="float-left" data-animation="animated swing" />
                <img src="/images/sakht-daro.png" class="float-left" style="margin-left:-15%; margin-top:2%;" data-animation="animated swing" />

            </div>

            <div class="carousel-item embed-responsive-item">
                <img data-animation="animated rotateInDownLeft" class="d-block w-100 imgb"
                     src="/images/%D8%B4%D8%A7%D9%85%D9%BE%D9%88-%D8%B1%DB%8C%D9%86%D9%81%D9%88%D8%B1%D8%AA%DB%8C%D9%84.png" alt="DrYahya.com">
            </div>

            <div class="carousel-item embed-responsive-item">
                <img data-animation="animated rotateInDownRight" class="d-block w-100 imgb"
                     src="/images/%DA%A9%D9%84%DB%8C%D9%86-%D8%A7%D9%86%D8%AF-%DA%A9%D9%84%DB%8C%D8%B1-1.png" alt="DrYahya.com">
            </div>*@

            <div class="carousel-item embed-responsive-item imgb" style="background-image:url('/images/20-off-banner.png'); background-repeat:no-repeat;">
                <img src="/images/bronson.png" alt="bronson"
                     style="width: 35%; height: auto;" class="float-left" data-animation="animated flip">
                <h3 data-animation="animated fadeInLeft" style="text-shadow:0 0 3px #000; color:#ff0; margin-top:2%;" class="text-center" dir="rtl">Special sale of Bronson iron tablets </h3>
                <h4 data-animation="animated fadeInRight" style="text-shadow:0 0 3px #000; color:#fff; margin-top:2%; padding-right:10%;" class="text-center" dir="ltr">Helps improve iron deficiency anemia C </h4>
            </div>

            <div class="carousel-item embed-responsive-item">
                <img data-animation="animated flipInX" src="/images/banner.jpg" class="imgb" />
            </div>

            <div class="carousel-item embed-responsive-item imgb" style="background-image:url('/images/Untitled.jpg'); background-repeat:no-repeat;">
                <img data-animation="animated fadeInRightBig" src="/images/20.jpg" alt="یوروویتال" class="float-left">
                <h2 data-animation="animated fadeInUpBig" style="margin-top:4%; padding-right:25%; color: rgba(0,122,255, 1)" class="text-center">Eurovital supplements </h2>
                @*<h3 data-animation="animated fadeInDownBig" style="margin-top:4%; padding-right:25%; color: rgba(0,122,255, 1)" class="text-center">محصول کشور آلمان </h3>*@

            </div>

            <div class="carousel-item embed-responsive-item imgb" style="background-image:url('/images/slider2.jpg'); background-repeat:no-repeat;">
                <img data-animation="animated heartBeat" style="margin-top:3%; padding-left:5%;"
                     src="/images/%D9%85%D8%AD%D8%B5%D9%88%D9%84%D8%A7%D8%AA-%D8%A7%D9%88%D8%B1%DB%8C%D9%80%D8%A7%DA%98-%D9%81%D8%B1%D8%A7%D9%86%D8%B3%D9%80%D9%87.png" class="float-left">
            </div>

            <div class="carousel-item embed-responsive-item">
                <img data-animation="animated flipInY" src="/images/%DA%A9%DB%8C%D9%88-%D9%88%DB%8C-2.jpg" class="imgb" />
            </div>
        </div>
        <a class="carousel-control-prev" href="#myslide" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        <a class="carousel-control-next" href="#myslide" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
    </div>

    @*<div class="site-block-cover-content text-center" style="padding-top:-50px; margin-bottom:10px;">
            <p>
                <a href="/Orders/Shopping" class="btn btn-primary px-5 py-3 btnBuy">برای خرید اینجا را فشار دهید</a>
            </p>
        </div>*@
</div>




@section Scripts{



}