
@{
    ViewBag.Title = "قوانین و مقررات";
}

<div id="primary" style="margin:10px; padding:10px; line-height:200%;">
    <div class="container sidebar-no clearfix text-justify">
        <div class="row col-12">

            <!-- START CONTENT -->
            <div class="content col-sm-12 clearfix" role="main">

                <div id="post-2613" class="post-2613 post type-post status-publish format-standard hentry category-themes">

                    <div class="meta clearfix row blog big single">

                        <div class="col-sm-12">

                            <div class="yit_post_information_wrapper clearfix">

                                <div class="yit_post_title_and_meta clearfix border-2">
                                    <h1 class="post-title text-black h1">قوانین و مقررات</h1>
                                    <br />
                                </div>
                                <div class="yit_the_content" style="margin-bottom:10px;">
                                    <div class="GeneralDiv249 h4 text-black">قوانین ارائه محصولات و خدمات داروخانه دکتر عباسی</div>
                                    <br />
                                    <div class="GeneralDiv250">۱ – تمامی محصولات عرضه شده در وب سایت &nbsp;<a href="/">داروخانه دکتر عباسی</a>&nbsp; دارای مجوز رسمی و تاییدیه‌های لازم از وزارت بهداشت، درمان و آموزش پزشکی می‌باشد.</div>
                                    <br />
                                    <div class="GeneralDiv250">۲ – وب سایت &nbsp;<a href="/">داروخانه دکتر عباسی</a>&nbsp; از فروش هرگونه دارو و محصولی که عرضه آن نیاز به ارائه نسخه پزشک دارد معذور است.</div>
                                    <br />
                                    <div class="GeneralDiv250">۳ – تمام محصولات عرضه شده در وب سایت &nbsp;<a href="/">داروخانه دکتر عباسی</a>&nbsp; اصل و دارای تاریخ انقضا می‌باشد.</div>
                                    <br />
                                    <div class="GeneralDiv250">۴ – تمامی محصولات دارای قیمت مصرف کننده می‌باشند که به صورت آنلاین توسط وب سایت &nbsp;<a href="/">داروخانه دکتر عباسی</a>&nbsp; به‌روزسانی می شود.</div>
                                    <br />
                                    <div>۵ – &nbsp;<a href="/">داروخانه دکتر عباسی</a>&nbsp; موظف به تهیه و ارائه پیش فاکتور فروش قبل از نهایی شدن پروسه فروش می‌باشد.</div>
                                    <br />
                                    <div>۶ – پس از ثبت خرید کارشناسان فروش &nbsp;<a href="/">داروخانه دکتر عباسی</a>&nbsp; جهت تایید نهایی و هماهنگی‌های لازم با مشتری تماس می‌گیرند. همچنین تمام مراحل خرید بوسیله ارسال اس‌ام‌اس به مشتری اطلاع‌رسانی خواهد شد.</div>
                                    <br />
                                    <div>۷ – کاربر امکان سفارش محصولاتی که فاقد موجودی می‌باشند را نخواهد داشت و &nbsp;<a href="/">داروخانه دکتر عباسی</a>&nbsp; هیچگونه مبلغی را بابت سفارش موقت یا رزرو محصول دریافت نخواهد کرد.</div>
                                    <br />
                                    <div>۸ – کاربران باید هنگام سفارش کالای مورد نظر خود، فرم سفارش را با اطلاعات صحیح و به طور کامل تکمیل کنند. بدیهی است درصورت ورود اطلاعات ناقص یا نادرست، سفارش کاربر قابل پیگیری و تحویل نخواهد بود. مشتریان می‌توانند نام، آدرس و تلفن شخص دیگری را برای تحویل گرفتن سفارش وارد کنند و اگر مبلغ سفارش از پیش پرداخت شده باشد، تحویل گیرنده سفارش هنگام دریافت کالا باید کارت شناسایی همراه داشته باشد.</div>
                                    <br />
                                    <div>۹ – ارسال سفارش‌ها مطابق با درخواست مشتری و اخذ هزینه‌های مربوطه می‌باشد. سفارش‌های شهر اصفهان که بوسیله پیک موتوری ارسال می‌شوند کمتر از ۲۴ ساعت اداری انجام خواهد شد، همچنین مدت زمان ارسال  سفارش‌های پستی بر عهده شرکت پست و یا سایر شرکت‌های حمل و نقل می‌باشد.</div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

            </div>
            <!-- END CONTENT -->
        </div>
    </div>
</div>

