
@{
    ViewBag.Title = "Internal Error";
}

<h1 class="text-center text-danger" style="margin-top:50px; margin-bottom:50px;">@ViewBag.Title!</h1>

<h3 class="text-center" style="margin-top:50px; margin-bottom:50px;"><a href="@HttpContext.Current.Request.UrlReferrer.ToString()">Return to the previous page!</a></h3>